*.sqlite
winners.csv
Projects/Communicate Data Findings/dataset-project-communicate-data-findings.pdf
Projects/Freelancing/LinkedIn & Platforms.docx
Projects/Freelancing/Project.zip
Projects/Freelancing/Prposals.docx
*.zip
download.pdf
*.PNG
